[project]
	description = gerrit demo project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DurgaprasadN
[access "refs/for/refs/*"]
	read = group user/DurgaprasadN
	push = group user/DurgaprasadN
	label-Code-Review = -2..+2 group user/DurgaprasadN
	label-Verified = -1..+1 group user/DurgaprasadN
	rebase = group user/DurgaprasadN
	removeReviewer = group user/DurgaprasadN
	submit = group user/DurgaprasadN
[access "refs/heads/*"]
	read = group user/DurgaprasadN
	create = group user/DurgaprasadN
	push = +force group user/DurgaprasadN
	pushMerge = group user/DurgaprasadN
[access "refs/tags/*"]
	push = group user/DurgaprasadN
	push = +force group user/DurgaprasadN
